<!DOCTYPE html>
<!--
{% macro pagination(url, page) %}
    <ul class="uk-pagination">
        {% if page.has_previous %}
            <li><a href="{{ url }}{{ page.page_index - 1 }}"><i class="uk-icon-angle-double-left"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
        {% endif %}
            <li class="uk-active"><span>{{ page.page_index }}</span></li>
        {% if page.has_next %}
            <li><a href="{{ url }}{{ page.page_index + 1 }}"><i class="uk-icon-angle-double-right"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
        {% endif %}
    </ul>
{% endmacro %}
-->
<html>
<head>
    <meta charset="utf-8" />
    {% block meta %}<!-- block meta  -->{% endblock %}
    <title>{% block title %} ? {% endblock %} - QianlinWu </title>
    <link rel="icon" href="/static/img/qianlin.jpg" type="image/x-icon" />
    <link rel="shortcut icon" href="/static/img/qianlin.jpg" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/uikit.min.css">
    <link rel="stylesheet" href="/static/css/uikit.gradient.min.css">
    <link rel="stylesheet" href="/static/css/awesome.css" />
    <link rel="stylesheet" href="/static/css/dracula.min.css">
    <!-- <script type="application/javascript" src="/static/js/jquery.min.js"></script> -->
    <script type="application/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
    <script type="application/javascript" src="/static/js/sha1.min.js"></script>
    <script type="application/javascript" src="/static/js/uikit.min.js"></script>
    <script type="application/javascript" src="/static/js/sticky.min.js"></script>
    <script type="application/javascript" src="/static/js/vue.min.js"></script>
    <script type="application/javascript" src="/static/js/awesome.js"></script>
    <script type="application/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script type="application/javascript" src="/static/layer/layer.js"></script>
    <script >hljs.initHighlightingOnLoad();</script>

    <script type="text/javascript">
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?e33314a7779b129d8f5cb27465d821df";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
    {% block beforehead %}<!-- before head  -->{% endblock %}
</head>
    <nav class="uk-navbar uk-navbar-attached" style="background-color: #F5F4F5;">
        <div class="uk-container uk-container-center">
            <a href="/" class="uk-navbar-brand"><img src="/static/img/qianlin3.jpg" width="62" height="100" alt="" /></a>
            <ul class="uk-navbar-nav">
                <li data-url="blogs"><a href="/"><i class="uk-icon-home"></i> 首页</a></li>
                <li><a target="_self" href="/project/read"><i class="uk-icon-book"></i> Python编程</a></li>
                <li><a target="#" href="https://bm.wuqianlin.cn/"><i class="uk-icon-book"></i> 书签收藏</a></li>
                <li><a target="_self" href="/project/python"><i class="uk-icon-book"></i> 读书&分享</a></li>
                <li><a target="_self" href="/project/opera"><i class="uk-icon-book"></i> 健身&攀岩</a></li>
                <li><a target="_self" href="/project/image"><i class="uk-icon-book"></i> 资源下载</a></li>
                {% if __user__ and __user__.admin %}
                    <li><a target="#" href="/manage/editor"><i class="uk-icon-book"></i><u> 新建笔记</u></a></li>
                    <li><a target="_self" href="/manage/blogs"><i class="uk-icon-book"></i><u> 后台管理</u></a></li>
                {% else %}
                    <!--这是一段注释。注释不会在浏览器中显示。-->
                    <!-- <li><a href="/signin"><i class="uk-icon-sign-in"></i> 登陆</a></li>
                    <li><a href="/register"><i class="uk-icon-edit"></i> 注册</a></li> -->
                {% endif %}

            </ul>
            <div class="uk-navbar-flip">
                <ul class="uk-navbar-nav">
                {% if __user__ %}
                    <li class="uk-parent" data-uk-dropdown>
                        <a href="#0"><i class="uk-icon-user"></i> {{ __user__.name }}</a>
                        <div class="uk-dropdown uk-dropdown-navbar">
                            <ul class="uk-nav uk-nav-navbar">
                                <li><a href="/signout"><i class="uk-icon-sign-out"></i> 登出</a></li>
                            </ul>
                        </div>
                    </li>
                {% else %}

                    <!--这是一段注释。注释不会在浏览器中显示。-->
                    <!-- <li><a href="/signin"><i class="uk-icon-sign-in"></i> 登陆</a></li>
                    <li><a href="/register"><i class="uk-icon-edit"></i> 注册</a></li> -->
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div style="height: 15px; background-color: #F2F4F5;"></div>
    <!-- <div style="display: flex; justify-content: center; background-color: #F2F4F5;"> -->
    <div style="display: flex; justify-content: center; background-color: #F2F4F5;">
        <div class="content-medium">
                {% block content %}
                {% endblock %}
        </div>
        <div class="content-left">
            {%  block content_catalog %}
            {% endblock %}
        </div>
        <div class="content-right">
            {% block poster_board %}
            {% endblock %}
        </div>
    </div>

    <div class="copyright">
        <div class="uk-container uk-container-center uk-text-center">
            <div class="uk-panel uk-margin-top uk-margin-bottom">
                <p>Copyright © 2016-2018. Powered by <a href="#">Python 3.6.1</a></p>

                <p>
                    <a href="http://www.miitbeian.gov.cn" target="_blank">蜀ICP备 17005775号-1</a>
                    &nbsp;<a href="/" target="_blank">www.wuqianlin.cn</a>. All rights reserved
                </p>

                <p>
                    <a target="_blank" href="http://www.w3.org/TR/html5/">
                        <i class="uk-icon-html5" style=" color: #444;"></i>
                    </a>
                    <a href="https://tongji.baidu.com/web/25714669/overview/index?siteId=12120194">百度统计</a>
                    &nbsp;<a href="/manage/" target="_blank">Manage</a>
                </p>
            </div>
        </div>
    </div>

    {%  block html_end %}
    {% endblock %}

</body>
</html>