{% extends '__base__.html' %}

{% block title %}读书{% endblock %}

{% block beforehead %}
<script>
</script>
{% endblock %}

{% block content %}

    <div class="uk-width-medium-3-4">
        {% for blog in blogs %}

        <article class="uk-article">
                <h2><a href="/blog/{{ blog.id }}">{{ blog.name }}</a></h2>
                <h6><a href="/blog/{{ blog.id }}">{{ blog.id }}</a></h6>
                <p class="uk-article-meta">发表于{{ blog.created_at|datetime}}</p>
        </article>

        <button type="submit" onclick="delete_blogs('{{blog.id}}')" name="submit" value="12345" title="sfa" style="width: 60px;height: 30px;">删除
        </button>
        <button type="submit" onclick="edit_blogs('{{blog.id}}')" name="submit" value="编辑" title="sfa" style="width: 60px;height: 30px;">编辑
        </button>
        <hr class="uk-article-divider">

        {% endfor %}
    </div>

    <script type="text/javascript">
        function delete_blogs(id){
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/api/blogs/" + id + "/delete",
                success: function (result) {
                    console.log( result )
                    if (result.code == 2000) {
                        alert("删除成功");
                        window.location.reload();
                    }
                },
                error : function() {
                    alert("异常！");
                    window.location.reload();
                }
            });
        }

        function edit_blogs(id){
            var url = "/api/blogs/" + id + "/edit";
            window.location.href=url;
        }

    </script>
{% endblock %}
