{% extends '__base__.html' %}

{% block title %}读书{% endblock %}

{% block beforehead %}
<script>
</script>
{% endblock %}

{% block content %}

    <div class="uk-width-medium-3-4">
        {% for blog in blogs %}
        <article class="uk-article">
                <h2><a href="/blog/{{ blog.id }}">{{ blog.name }}</a></h2>
                <h6><a href="/blog/{{ blog.id }}">{{ blog.id }}</a></h6>
                <p class="uk-article-meta">发表于{{ blog.created_at|datetime}}</p>
        </article>
        <form action="/blogs_delete" method="POST">
            <input type="text" name="blog_id" value="{{ blog.id }}" />
            <input type="submit" name="blog_delete" value="Delete" />
            <hr class="uk-article-divider">
        </form>
		
        <form action="/blogs_edit" method="POST">
            <input type="text" name="blog_id" value="{{ blog.id }}" />
            <input type="submit" name="blog_edit" value="Edit" />
            <hr class="uk-article-divider">
        </form>


        {% endfor %}
    </div>
{% endblock %}

