{% extends '__base__.html' %}

{% block title %}{{ blog.name }}{% endblock %}

{% block beforehead %}

<script>

$.fn.serializeObject = function()
{
   var o = {};
   var a = this.serializeArray();
   $.each(a, function() {
       if (o[this.name]) {
           if (!o[this.name].push) {
               o[this.name] = [o[this.name]];
           }
           o[this.name].push(this.value || '');
       } else {
           o[this.name] = this.value || '';
       }
   });
   return o;
};

var comment_url = '/api/blogs/{{ blog.id }}/comments';

$(function () {
    var $form = $('#form-comment');
    $form.submit(function (e) {
        e.preventDefault();
        $form.showFormError('');
        var content = $form.find('textarea').val().trim();
        if (content==='') {
            return $form.showFormError('请输入评论内容！');
        }
        $form.postJSON(comment_url, { content: content }, function (err, result) {
            if (err) {
                return $form.showFormError(err);
            }
            refresh();
        });
    });
});

function comments_reply() {
    console.log(comment_url);
    $.ajax({
        url: comment_url,
        type: "POST",
        data:JSON.stringify($('#comment_reply_item').serializeObject()),
        contentType:"application/json",
        success:function(){
                alert("成功");
        }
    })
}



var reply_status;
function comment_display(temp){
     target = $(temp).parent().parent().find(comment_reply_item);
     try{
         reply_status.css('display','none');
     }catch(error){
         reply_status = target;
     }
     reply_status = target;
     target.css('display','');
     target.find('textarea').text('')
}

function quote_replay(temp) {
    target = $(temp).parent().parent().parent().parent().parent().find(comment_reply_item);
    quote_name = $(temp).prev('span').prev('a').children('strong').text();
    quote_content = '@' + quote_name + ' ';
    try{
         target.find('textarea').text('');
         reply_status.css('display','none');
    }catch(error){
         reply_status = target;
    }
    reply_status = target;
    target.css('display','');
    target.find('textarea').text(quote_content)
}

</script>

{% endblock %}

{% block content %}

    <div class="uk-width-medium-3-4">
        <article class="uk-article">
            <h2>{{ blog.name }}</h2>
            <p class="uk-article-meta">发表于{{ blog.created_at|datetime }}</p>
            <p>{{ blog.html_content|safe }}</p>
        </article>

        <hr class="uk-article-divider">

        <h3>最新评论</h3>
        <div class="comments-container">
            {% for comment in comments %}

            <div class="comments-list">
                <div class="comments-pull-left">
                    <header class="uk-comment-header">
                        <img class="uk-comment-avatar uk-border-circle" width="50" height="50" src="{{ comment.user_image }}">
                    </header>
                </div>

                <div class="comments-content">
                    <div class="comment-trigger">
                        <div>
                            <strong><a target="_blank" href="/u/gatinul">{{ comment.user_name }} {% if comment.user_id==blog.user_id %}(作者){% endif %}</a></strong>
                        </div>
                        <div>
                            <p class="uk-comment-meta"> &nbsp;.&nbsp;{{ comment.created_at | datetime }}</p>
                        </div>
                    </div>

                    <div>
                        <p>{{ comment.html_content|safe }}</p>
                    </div>

                    <div>
                        <span onclick='comment_display(this)' class="uk-comment-meta"> &nbsp;回复</span>
                    </div>

                    <div class="reply-content-block ">

                        {% for reply in  comment.child_comments %}
                        <div class="reply-content-item ">
                            <div>
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            </div>
                            <div class="reply-content">
                                <div>
                                    <p style="margin-bottom: 6px;">
                                        <a target="_blank" href="/u/duke_wu" rel="nofollow noreferrer">
                                            {% if reply.at_who != '' %}@{% endif %}{{reply.at_who}}
                                        </a>
                                        <span>{{ reply.content|safe }}</span>
                                    </p>
                                </div>
                                <div>
                                    <span>
                                        <span> — </span>
                                        <a target="_blank" href="/u/duke_wu">
                                            <strong>{{ reply.user_name }}</strong>
                                        </a>
                                        <span class="uk-comment-meta"> &nbsp;.&nbsp;{{ reply.created_at|datetime }}</span>
                                        <span class="uk-comment-meta" onclick='quote_replay(this)' style="cursor: pointer;"> &nbsp;.&nbsp;引用</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        <form id="comment_reply_item" style="display: none;" class="comment-reply-form" >
                            <input style="display: none" type="text"  value="{{ comment.id }}" name="parent_id" />
                            <div style="flex-grow:1; justify-content: center">
                                <textarea  name="content" rows="1" placeholder="文明社会，理性评论"></textarea>
                            </div>
                            <div>
                                <button type="submit" onclick="comments_reply()" class="uk-button uk-button-primary">添加回复</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <hr class="uk-article-divider">
            {% else %}
            <div>还没有人评论...</div>
            {% endfor %}
        </div>


        {% if __user__ %}
        <h3 style="margin-top: 15px;">发布评论</h3>
        <div class="uk-comment super-comment">
            <div class="uk-comment-header super-comment-header">
                <img class="uk-comment-avatar uk-border-circle"  style="flex: 0;" src="{{ __user__.image }}">
            </div>
            <div class="uk-comment-body super-comment-content">
                <form id="form-comment" class="uk-form super-comment-form">
                    <div class="uk-alert uk-alert-danger uk-hidden"></div>
                    <div class="uk-form-row">
                        <textarea rows="6" placeholder="文明社会，理性评论" style="width:100%;resize:none;"></textarea>
                    </div>
                    <div class="uk-form-row super-comment-buttom">
                        <button type="submit" class="uk-button uk-button-primary">发布评论</button>
                    </div>
                </form>
            </div>
        </div>
        <hr class="uk-article-divider">
        {% endif %}
    </div>
{% endblock %}

{% block poster_board %}
    <!--
    <div class="uk-width-medium-1-4 content-medium-right">
        <div class="uk-panel uk-panel-header" style="width: 100%">
            <h3 class="uk-panel-title">友情链接</h3>
            <ul class="uk-list uk-list-line">
                <li><i class="uk-icon-link"></i> <a href="#">编程</a></li>
                <li><i class="uk-icon-link"></i> <a href="#">思考</a></li>
                <li><i class="uk-icon-link"></i> <a href="#">读书</a></li>
            </ul>
        </div>
    </div>
    -->
{% endblock %}

