{% extends '__base__.html' %}

{% block title %}读书{% endblock %}

{% block beforehead %}
<script>

function personal_infor( ) {
    console.log($('personal_info').html() );
    layer.open({
        type: 1,
        fixed: false,
        title: false,
        closeBtn: 1,
        scrollbar: true,
        shadeClose: true,
        skin: 'yourclass',
        content: $('#personal_info').html()
    });
}

</script>
{% endblock %}

{% block content %}

    <!--
    <div class="main">
    </div>
    <button class="btn btn-success more">加载更多</button>
    -->

    <div class="blogs-list-content">
        <ul class="main">
        </ul>
    </div>

<script>
    String.prototype.format = function(args) {
        var result = this;
        if (arguments.length > 0) {
            if (arguments.length == 1 && typeof (args) == "object") {
                for (var key in args) {
                    if(args[key]!=undefined){
                        var reg = new RegExp("({" + key + "})", "g");
                        result = result.replace(reg, args[key]);
                    }
                }
            }
            else {
                for (var i = 0; i < arguments.length; i++) {
                    if (arguments[i] != undefined) {
                        var reg= new RegExp("({)" + i + "(})", "g");
                        result = result.replace(reg, arguments[i]);
                    }
                }
            }
        }
        return result;
    }

    var page=1;
    function page_url(page, size) {
        //var dataUrl = 'http://127.0.0.1:9000/api/brief?page=' + page + '&size=1';
        baseUrl = '/api/brief';
        dataUrl =  "{0}?page={1}&size={2}".format(baseUrl, page, size);
        return dataUrl
    }


    //初始化页面数据
    if (document.documentElement.scrollHeight === window.innerHeight) {
        askData(page_url(page,size=10));
        page++;
    }

    //点击加载更多
    $('.more').on('click', function () {
        askData(page_url(page,size=5));
        page++;
    })


    //滚动加载
    window.onscroll = function(){
        console.log('***********************');
        var height = document.documentElement.scrollHeight - document.documentElement.scrollTop - window.innerHeight;
        console.log(document.documentElement.scrollHeight)
        console.log(document.documentElement.scrollTop)
        console.log(window.innerHeight)
        console.log(height)
        console.log(page);

        if (height < 100) {
            askData(page_url(page,size=1));
            page++
        }
    }


    //异步请求数据
    function askData(url){
        console.log(url)
        $.ajax({
            type:"get",
            url: url,
            dataType: 'json',
            crossDomain: true,
            success: function (res) {
                if (res.status == 'success'){
                    var data = res.data;
                    loadDOM( data );
                }
            },
            error: function (err) {
                console.log(err)
            }
        });
    }

    //加载数据到页面
    function loadDOM (data) {
        for (var i in data) {
            var html =
                '<li>' +
                    '<div style="">' +
                        '<div>' +
                            '<span>' +
                                '<h2 style="font-size: 18px; font-weight: bold; line-height: 24px; height: 24px; margin-bottom: 4px; display: inline-block;">' +
                                    '<a href="/api/blogs/'+ data[i].id +'" >' + data[i].name +'</a>' +
                                '</h2>' +
                            '</span>' +
                        '</div>' +
                        '<dl class="list_userbar">' +
                            '<dd class="name">' +
                                '<a href="#" target="_blank">&nbsp;' + data[i].user_name + '</a>' +
                            '</dd>' +
                            '<div class="interval"></div>' +
                                '<dd class="time" style="color: #b8b8b8;">'+ data[i].created_at +'</dd>' +
                                    '<div class="interval"></div>' +
                                    '<dd class="tag">' +
                                    '<a href="#" target="_blank">'+ data[i].label +'</a>' +
                                '</dd>' +
                                    '</dl>' +
                            '<div style="text-overflow: ellipsis; white-space: nowrap;overflow: hidden;margin-bottom: 4px; font-size: 14px; color: #666; line-height: 24px;">' +
                                '<p>'+ data[i].content +'</p>' +
                            '</div>' +
                        '</div>' +
                    '</li>'.format({name:'1',user_name:'2',created_at:'3',label:'4',content:'5'});
            console.log()
            var str='这是一个测试的字符串：{str0} {str1}'.format({str0:'Hello',str1:'world'});
            $(html).appendTo('.main');
        }
    }

    function contentEnd() {
        html = '<div class="blogs-list-end">'+
                '<p>到底了...</p>'+
            '</div>'
        $(html).appendTo('.main')
    }
</script>



{% endblock %}


{% block poster_board %}
    <div class="post-right">
        <div style="margin: 12px 8px 3px 8px;">
            <h3 class="uk-panel-title" style="margin-top: 10px;margin-bottom: 4px; padding-bottom: 2px;border-bottom: 1px solid #ddd;">关于</h3>
            <ul class="uk-list uk-list-line" style="margin-bottom: 15px; font-size: 14px;">
                <li><a target="_self" href="#"><img style="width: 156px" src="/static/img/me.png"  alt="作者本人" /></a></li>
                <li><a target="_self" onclick="personal_infor()" href="#">个人简介</a></li>
                <li><a id='doc_info' target="_self" href="#"></a></li>
                <li>
                    <a target="_blank" href="https://github.com/Duke-Wu" class="uk-icon-button uk-icon-github"></a>
                    <a target="_blank" href="https://www.linkedin.com/in/乾林-吴-52635b166" class="uk-icon-button uk-icon-linkedin-square"></a>
                    <a target="_blank" href="https://twitter.com/qianlin95" class="uk-icon-button uk-icon-twitter"></a>
                    <a target="_blank" href="http://weibo.com/wuqianlin" class="uk-icon-button uk-icon-weibo"></a>
                </li>
            </ul>
        </div>
    </div>

    <div id="personal_info" style="display: none;">
        <div  class="personal">
            <h3>About Me</h3>
            <p>My name is Qianlin Wu. You can call me Duke.</p>
            <p>I am an IT developer focusing on web technology, image science and a strong advocate and believer of Free Software. Now I am employed as a python engineer.</p>
            <p>In spare time, I like reading book, rock climbing, watching movie and driving in the mountains.</p>
            <p>My email is: <strong><u>simpleran@sina.com</u></strong></p>
        </div>
    </div>

    <script>
    $(function () {
        $.ajax({
            url: '/api/doc_info',
            type: "GET",
            dataType: 'json',
            success:function(result){
                console.log(result);
                amount_blog = result.rs_blog.record_amount;
                console.log(typeof(result) );
                amount_comment = result.rs_comment.record_amount;
                content = '文章：' + amount_blog  + '，留言：' + amount_comment;
                $(doc_info).html(content);
            }
        })
    });
    </script>
{% endblock %}


{% block content_catalog %}
    <nav id="nav" class="clearfix" style="flex-direction: column;justify-content: center">
        <ul class="uk-list" style="flex-direction: column;justify-content: center">
            <li class="active"><a href="/">分类</a></li>
            <li class=""><a target="_self" href="/">最新文章</a></li>
            <!-- <li class=""><a target="_self" href="/project/img">图像处理</a></li>  -->
            <li class=""><a target="_self" href="/project/oper">运维</a></li>
            <li class=""><a target="_self" href="/project/db">数据库</a></li>
            <li class=""><a target="_self" href="/project/front">前端</a></li>
            <!-- <li class=""><a target="_self" href="/project/prog">编程语言</a></li>  -->
            <li class=""><a target="_self" href="/project/arch">架构</a></li>
            <li class=""><a target="_self" href="/project/safe">安全</a></li>
            <li class=""><a target="_self" href="/project/others">其他</a></li>
        </ul>
    </nav>
{% endblock %}