<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8" />
        <title>Form get textarea value - Editor.md examples</title>
        <link rel="stylesheet" href="/static/editor_md/examples/css/style.css" />
        <link rel="stylesheet" href="/static/editor_md/css/editormd.css" />
        <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
            <meta charset="utf-8">
    <title>表格</title>
    </head>
	
    <body>
        <div id="layout">
            <header>
                <h1>编辑文件</h1>
            </header>
            <form id="content_form" action="/edit_update"  method="POST">
                <div style="margin:0 auto;width:90%"; >

                <table width=80%>
                    <tbody>
                        <tr>
                            <th width= 8% scope="row" align=right>id:</th>
                            <td width= 42%>
                                <input style="width: 100%;" type="text" name="id" value="{{ id }}" />
                            </td>
                            <th width= 8% scope="row" align=right>user_id:</th>
                            <td width= 42%>
                                <input style="width: 100%;" type="text" name="user_id" value="{{ user_id }}" />
                            </td>
                        </tr>
                        <tr>
                            <th width=8% scope="row" align=right>user_name:</th>
                            <td width=42%>
                                <input style="width: 100%;" type="text" name="user_name" value="{{ user_name }}" />
                            </td>
                            <th scope="row">user_image:</th>
                            <td>
                                <input style="width: 100%;" type="text" name="user_image" value="{{ user_image }}" />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" align=right>name:</th>
                            <td>
                                <input style="width: 100%;" type="text" name="name" value="{{ name }}" />
                            </td>
                            <th scope="row" align=right>summary:</th>
                            <td>
                                <input style="width: 100%;" type="text" name="summary" value="{{ summary }}"/>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" align=right>table:</th>
                            <td>
                            <select name="tab" id="ss" style="width:60%;">
                                <option value = "read" id="read">read</option>
                                <option value = "python" id="python" >python</option>
                                <option value = "opera" id="opera">opera</option>
                                <option value = "ai" id="ai">ai</option>
                                <option value = "other" id="other">other</option>
                                <option value = "private" id="private">private</option>
                            </select>
                                <script >
                                    var  ss = document.getElementById('{{ tab }}');
                                    ss.selected = true;
                                </script>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
				
                <div id="test-editormd">
				    
                    <!-- Custom textarea name attribute <textarea style="display:none;" name="test-textarea-name"> -->
                    <textarea style="display:none;"  name="content_md" form="content_form">{{ content }}</textarea>
				</div>		
				
				<div style="width:90%;margin: 10px auto;">
					<input type="submit" name="submit" value="提 交" style="padding: 5px;" />
				</div>  
				
			</form>		
        </div>


        <script src="/static/editor_md/examples/js/jquery.min.js"></script>
        <script src="/static/editor_md/editormd.js"></script>
		
        <script type="text/javascript">
			var testEditor = editormd("test-editormd", {
				width  : "90%",
				height : 640,
				path   : "/static/editor_md/lib/",
				saveHTMLToTextarea : true
			});

			testEditor.getMarkdown();       // 获取 Markdown 源码
			testEditor.getHTML();           // 获取 Textarea 保存的 HTML 源码
			testEditor.getPreviewedHTML();  // 获取预览窗口里的 HTML，在开启 watch 且没有开启 saveHTMLToTextarea 时使用

        </script>
    </body>
</html>