{% extends '__base__.html' %}

{% block title %}读书{% endblock %}

{% block beforehead %}
<script>
</script>
{% endblock %}

{% block content %}
    <div class="uk-width-medium-3-4">
        {% for blog in blogs %}
        <table border="0">
            <tr>
                <td class="blogs-list-content">
                    <a href="/api/blogs/{{ blog.id }}">{{ blog.name }}</a>
                </td>
                <td class="blogs-list-date">......{{ blog.created_at | datetime}}</td>
            </tr>
        </table>
        {% endfor %}
    </div>
{% endblock %}

{% block poster_board %}
    <!--
    <div class="uk-width-medium-1-4 content-medium-right">
        <div class="uk-panel uk-panel-header " style="width: 100%">
            <h3 class="uk-panel-title">个人助理</h3>
            <ul class="uk-list uk-list-line">
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_self" href="#">代办事项</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_self" href="#">书签管理</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_self" href="#">个人理财</a></li>
            </ul>
        </div>
    </div>
    -->
{% endblock %}
