/*
 * custom css
 */
a:hover, a:active {
    text-decoration: none;
}

#vm {
    display: none;
}
#loading {
    margin-bottom: 15px;
}
#error {
    display: none;
    margin-bottom: 15px;
}
#body{
    display: flex;
    justify-content: center;
}
.content-father {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 89%;

}
.content-medium-left {
    display: flex;
    align-items: center;
    width: 78%;
}
.content-medium-right-father {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    width: 22%;
    height: 100%;
}
.content-medium-right {
    display: flex;
    align-items: center;
    width: 100%;
}
.blogs-list-content {
    font-family:'宋体';
    font-size:18px;
}
.blogs-list-date {
    font-family:'宋体';
    font-size:10px;
}

